body {
			margin: 0;
			padding: 0;
			background: url(../image/tiankong.jpg) no-repeat;
		}

		header {
			box-sizing: border-box;
			padding: 0 50px;
			height: 50px;
			background-color: #3d3d3d;
			color: white;
			font-size: 13px;
		}

		.aside {
			width: 300px;
			background-color: #E5E5E5;
		}
		.classa{
			font-size: 10px;
			color: #409EFF;
		}
		.classb{
			font-size: 10px;
			color: #AAAAAA;
		}
		.class-i{
			float: right;
			margin-top: 17px;
		}
		.el-menu-item i{
			color: #F74114;
		}
		.main {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
		.showwel{
			text-align: center;line-height: 600px;background-color: #fbfbfb;flex: 1;font-size: 30px;
		}
		.msghead{
			height: 50px;background-color: #f8f8f8;padding-left: 50px;line-height: 50px;position: relative;
			border-bottom: 1px solid #E8E8E8;
		}
		.msghead i{
			font-size: 25px;
			top: 13px;
			position: absolute;
			color: #666;
			right: 40px;
		}
		.mesgroom{
			display: flex;flex-direction: row;
			background-color: #F5F5F5;
		}
		.mesgroom ul{
			list-style: none;
		}
		.mesgroom ul li{
			line-height: 30px;
		}
		.message {
			flex: 1;
			overflow: auto;
			padding: 15px;
			background-color: #F8F8F8;
			height: 400px;
		}
		.member{
			width: 200px;border-left: 1px solid #EEEEEE;
		}
		.input-box {
			border-top: 1px solid #EEEEEE;
			background-color: white;
			flex: 1;
			padding: 45px 25px;
			position: relative;
		}
		.input-box img{
			position: absolute;
			top: 15px;
			cursor: pointer;
		}
		
		textarea {
			outline: none;
			width: 100%;
			height: 100%;
			resize: none;
			box-sizing: border-box;
			font-size: 20px;
			border: none;
			background-color: white;
		}

		.action {
			width: 100px;
			float: right;
			position: relative;
			right: 40px;
		}
		.prompt{
			position: absolute;
			right: -5px;
			bottom: 40px;
			background-color: #eeeeee;
			border-radius: 3px;
			width: 145px;
			text-align: center;
			font-size: 13px;
			line-height: 45px;
			height: 45px;
		}
		.prompt::after{
			    content: '';
				position: absolute;
				width: 0;
				right: 22px;
				height: 0;
				bottom: -7px;
				border-top: 7px solid #f1f1f1;
				border-left: 7px solid white;
				border-right: 7px solid white;
		}
		.action button {
			width: 82px;
			color: #555555;
			height: 32px;
			border: 1px solid #DDDDDD;
			border-radius: 5px;
			background-color: #FAFAFA;
			line-height: 30px;
		}
        .action button:hover{
			color: white;
			background-color: #67C23A;
		}
		.addchatroom {
			position: relative;
			cursor: pointer;
			padding-left: 20px;
			font-size: 13px;
			line-height: 45px;
			height: 45px;
		}

		.addchatroom i {
			top: 16px;
			right: 19px;
			position: absolute;
			font-size: 15px;
		}

		.users {
			margin-top: 10px;
			/* float: right; */
			text-align: right;
		}

		.users>div {
			min-height: 24px;
			max-width: 225px;
			position: relative;
			display: inline-block;
			padding: 12px;
			margin: 0 10px 0 12px;
			text-align: left;
			border-radius: 10px;
			color: #fff;
			box-shadow: inset 0 0 1px #67C23A;
			background-color: #67C23A;
			vertical-align: top;
			word-break: break-all;
		}
		.users>div:before {
			content: "";
			position: absolute;
			right: -5px;
			top: 4px;
			width: 0;
			height: 0;
			border-top: solid transparent;
			border-left: 7px solid #67C23A;
			border-bottom: 4px solid transparent;
		}

		.service {
			/* float: left; */
			margin-top: 10px;
		}

		.service>div {
			min-height: 24px;
			max-width: 225px;
			display: inline-block;
			border: 1px solid #f1f1f1;
			position: relative;
			padding: 12px;
			margin: 0 20px 0 10px;
			border-radius: 10px;
			background-color: #fff;
			box-shadow: inset 0 0 1px #fff;
			vertical-align: top;
			word-break: break-all;
		}

		.service>span {
			color: #006e9c;
			font-weight: 700;
			max-width: 60px;
			height: 36px;
			font-weight: normal;
			font-size: 14px;
			color: #999;
			overflow: hidden;
			float: left;
		}

		.service>div:before {
			content: "";
			position: absolute;
			left: -5px;
			top: 4px;
			width: 0;
			height: 0;
			border-top: solid transparent;
			border-right: 7px solid #fff;
			border-bottom: 4px solid transparent;
		}
		.checkdiv{
			float: left;width: 50%;overflow: auto;height: 100%;
			box-sizing: border-box;
		}
        .checkdiv .el-checkbox{
			box-sizing: border-box;
			padding-left: 5px;
			width: 100%;
			height: 40px;
			margin: 0;
			line-height: 40px;
			text-overflow: ellipsis;
		}
		.checkdiv .el-checkbox:hover{
			background-color: #EEEEEE;
		}
		.el-dialog__body{
			padding-top: 12px;
			padding-bottom:10px;
		}
		.ischeck{
			position: relative;
			height: 40px;
			line-height: 40px;
			text-overflow: ellipsis;
			padding-left: 20px;
		}
/* 		.ischeck:hover{
			background-color: #EEEEEE;
		} */
		.icon{
			position: absolute;
			right: 10px;
			top: 10px;
			color: #DDDDDD;
			font-size: 18px;
		}
		.icon:hover{
			color: #BBBBBB;
		}
		.input-room{
			margin-bottom: 20px;
			padding-right: 20px;
		}
		.checkp{
			padding-left: 20px;
			margin: 0;
			height: 40px;
			line-height: 40px;
			margin-bottom: 20px;
		}
		.dialog-foot{
			display: inline-block;
			width: 52%;
			text-align: left;
			font-size: 10px;
			color: red;
			right: 50%;
		}
		.dislogmsg{
			height: 500px;overflow-y: auto;
		}
		.lists{
			border-bottom: 1px solid #EEEEEE;padding: 13px 5px;
		}
		.lists-name {
			font-size: 12px;
			color: #Aaaaaa;
		}
		.sp-2{
			float: right;
		}
		.lists-cont{
			margin-top: 3px;
		}
		.fade-enter-active, .fade-leave-active {
			transition: opacity 1s
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active, 2.1.8 版本以下 */ {
			opacity:0;
		}