<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/element-ui.css" />
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script src="js/elemnt-ui.js"></script>
	<script src="http://127.0.0.1:3535/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="css/chat.css"/>
	<title></title>
</head>
<body>
	<div id="app" style="width:1300px;margin: 0 auto;">
		<header>
			<div style="line-height: 50px">
				<span style="text-align:left;margin-left:10px;">CATROOM</span>
				<span style="float:right; margin-right:10px;"><span id="showusername">{{username}}</span> | <a
						href="javascript:;" @click="logout" style="color:#fff;">退出</a></span>
			</div>
		</header>
		<div id="container" style="display: flex;height:700px;box-sizing: border-box;">
			<div id="" class="aside">
				<div class="addchatroom" @click="addroom">
					新建群组&nbsp;&nbsp;<i class="el-icon-plus"></i>
				</div>
				<el-menu active-text-color="#67C23A" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose">
					<el-submenu index="1">
						<template slot="title">
							<span>用户</span>
						</template>
						<el-menu-item :index="item.userid" v-for="(item,index) in items" :key="index" @click="checkuser(item.username,index)">{{item.username}}
						<span :class="item.online=='[在线]'?'classa':'classb'">{{item.online}}</span>
						<i v-show="item.msgremind" class="el-icon-question class-i"></i>
						</el-menu-item>
					</el-submenu>
					<el-submenu index="2">
						<template slot="title">
							<span>群组</span>
						</template>
						<el-menu-item  :index="index" v-for="(room,index) in rooms" :key="index" @click="checkroom(room.roomname,index)">{{room.roomname}}</el-menu-item>
					</el-submenu>
				</el-menu>
			</div>
			<div v-show="showwel" class="showwel">welcome to Chatroom</div>
			<div v-show="!showwel" class="main">
				<div v-for="(meg,index) in megs" :key="index" v-show="meg.show">
					<div class="msghead">
						<span>
							{{meg.firename}}
						</span>
					</div>
					<div class="message onefire">
						<div v-for="(i,index) in meg.messageDIv" :key="index" :class="i.action?'users':'service'" v-html="i.html"></div>
					</div>
				</div>
				<div v-for="(group,index) in groups" :key="index" v-show="group.show">
					<div class="msghead">
						<span>
							{{group.roomname}}
						</span>
						<i @click="showuser(index)" class="el-icon-more"></i>
					</div>
					<div class="mesgroom">
						<div class="message morefire">
							<div v-for="(i,index) in group.messageDIv" :key="index" :class="i.action?'users':'service'" v-html="i.html"></div>
						</div>
						<transition name = "fade">
							<div class="member" v-show="group.usershow">
								<ul>
									<li v-for="(g,index) in group.roomuser.split(',')">{{userlist[g]}}</li>
								</ul>
							</div>
						</transition>
					</div>
				</div>
				<div class="input-box">
					<img @click="getmesg" src="image/message.png" title="聊天记录" width="25px"/>
					<div style="width: 800px;height: 100%;" id="">
						<textarea type="text" name="content" v-model="mesg" @keyup.enter="submit" :disabled="showwel"></textarea>
					</div>
					<div class="action">
						<div class="prompt" v-show="prompt">
							不能发送空白信息
						</div>
						<button type="button" @click="submit">发送(enter)</button>
					</div>
				</div>
			</div>
		</div>
		<el-dialog title="新增房间" :visible.sync="dialogFormVisible" @close="closeadd" width="30%">
				<div style="height: 250px;">
					<div class="checkdiv" style="border-right: 1px solid #EEEEEE;">
						<div class="input-room" prop="pass">
							<el-input maxlength="20" v-model="roomname" placeholder="请输入房间名称"></el-input>
						</div>
						<el-checkbox-group
							@change="checkthis"
							v-model="checkuserlist"
							:min="1">
							<el-checkbox v-for="i in items" :label="i.userid" :key="i">{{i.username}}</el-checkbox>
						</el-checkbox-group>
					</div>
					<div class="checkdiv">
						<p class="checkp">请勾选需要添加的联系人</p>
						<div class="ischeck" v-for="(c,index) in checkusername" :key="index">
							{{c}}
							<i @click="deleted(c)" class="icon el-icon-circle-close"></i>
						</div>
					</div>
				</div>
				<div slot="footer" class="dialog-footer">
					<span class="dialog-foot" v-show="validator1">请输入房间名称</span>
					<span class="dialog-foot" v-show="validator2">请至少选择一个对象</span>
					<el-button @click="dialogFormVisible = false" type="success" plain>取 消</el-button>
					<el-button type="success" @click="toaddchat">确 定</el-button>
				</div>
			</el-dialog>
			<el-dialog
			  :title = "name"
			  :visible.sync="dialogVisible"
			  width="450px">
			  <div class="dislogmsg" ref="box">
					<div class="lists" v-for="(li,index) in list" :key="index">
						<div class="lists-name">
							<span class="sp-1">{{li.UN}}</span><span class="sp-2">{{li.Time}}</span>
						</div>
						<div class="lists-cont">
							{{li.Content}}
						</div>
					</div>
			  </div>
			</el-dialog>
	</div>
</body>
<script type="text/javascript" src="js/chat.js"></script>
</html>